@import 'tailwindcss';

main {
	min-height: calc(100vh - 3.625rem);
}

a {
	text-decoration: none;
}

a:hover,
a:focus-visible {
	text-decoration: underline;
}

button,
input[type='checkbox'] {
	cursor: pointer;
}

.grid-cols-16 {
	grid-template-columns: repeat(16, minmax(0, 1fr));
}

.VisualDisplay {
	min-height: 14rem;
}

.VisualDisplay .Counts .Count:nth-of-type(even),
.VisualDisplay .Cymbals .Cymbal:nth-of-type(even),
.VisualDisplay .Snares .Snare:nth-of-type(even),
.VisualDisplay .Kicks .Kick:nth-of-type(even) {
	display: none;
}

.VisualDisplay.isPlaying .Icon img {
	filter: grayscale(1);
}

.VisualDisplay.isPlaying .Icon.active img {
	filter: grayscale(0);
}

.Tempo input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	border-radius: 1rem;
	height: 0.5rem;
}

.Tempo input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 0.5rem;
	border-radius: 1rem;
	background: linear-gradient(
		to right,
		#d1d5db 0%,
		#d1d5db var(--slider-progress, 0%),
		#f3f4f6 var(--slider-progress, 0%),
		#f3f4f6 100%
	);
}

.Tempo input[type='range']::-moz-range-track {
	width: 100%;
	height: 0.5rem;
	border-radius: 1rem;
	background: linear-gradient(
		to right,
		#d1d5db 0%,
		#d1d5db var(--slider-progress, 0%),
		#f3f4f6 var(--slider-progress, 0%),
		#f3f4f6 100%
	);
}

.Tempo input[type='range']::-webkit-slider-thumb {
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	background: #000;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	margin-top: -0.25rem;
}

.Tempo input[type='range']::-moz-range-thumb {
	cursor: pointer;
	background: #000;
	border: none;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
}

@media (min-width: 640px) {
	.sm\:grid-cols-16 {
		grid-template-columns: repeat(16, minmax(0, 1fr));
	}

	.VisualDisplay .Counts .Count:nth-of-type(even),
	.VisualDisplay .Cymbals .Cymbal:nth-of-type(even),
	.VisualDisplay .Snares .Snare:nth-of-type(even),
	.VisualDisplay .Kicks .Kick:nth-of-type(even) {
		display: block;
	}
}
